[submodule "pack/ac/vim-surround"]
	path = pack/ac/opt/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/ac/opt/vim-repeat"]
	path = pack/ac/opt/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "pack/ac/opt/vim-sensible"]
	path = pack/ac/opt/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "pack/ac/opt/vim-colors-paramount"]
	path = pack/ac/opt/vim-colors-paramount
	url = https://github.com/owickstrom/vim-colors-paramount.git
[submodule "pack/ac/opt/vimwiki"]
	path = pack/ac/opt/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule "pack/ac/opt/vim-unimpaired"]
	path = pack/ac/opt/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
